.content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  padding: 0px 200px;
}
.navbar{
  background-color: #53B3CB;
  padding: 10px;
 
}
.navbar ul{
  display: flex;
  list-style: none;
  font-size: 12px;
  margin: 0px;
  padding-left: 0px;
}
.navbar ul li a {
  text-decoration: none;
  font-size: 12px;
  padding: 0px 10px;
  color: #282c34;
}
.navbar ul li p{
  margin: 0px;
}
/* .navbar */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.productsContainer{
  width: 50%;
  height: 90%;  

  padding: 0px 20px;
}

.productFormContainer{
  width: 50%;
  height: 90%;
  
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ProductContainer{
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 5px;
  border-bottom: 1px solid #eeeeee;
}
.textbox{
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 5px;
  margin: 5px;
  font-size: 12px;
 

}
.textbox input{
  border-radius: 3px;
}
.addbutton{
  width: 50%;
  outline: none;
  border: none;
  background-color: #53B3CB;
  color: white;
  width: 80px;
  height: 25px;
  border-radius: 10px;
  font-size: 10px;
  transition: ease-in 0.1s;
}
.addbutton:hover{
   background-color: black;
   color: white;
}

.textinput{
  border: 1px solid #bbbbbb;
  outline: none;
  height: 20px;
}

.bold{
  font-weight:bold;
}
.bold500{
  font-weight: 500;
}
.f8{
  font-size: 8px;
}
.f10{
  font-size: 10px;
}
.f12{
  font-size: 12px;
}
.f16{
  font-size: 16px;
}
.p5{
  padding: 5px;
}
.p5x{
  padding: 5px 0px;
}
.p5y{
  padding: 0px 5px;
}
.p10{
  padding: 10px;
}
.p10x{
  padding: 10px 0px;
}
.p10y{
  padding: 0px 10px;
}
.flex{
  display: flex;
  justify-content: space-between;
}